<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<%= render 'cart' %>

	

	

<!-- > add button in carts/show view which will empty cart and redirect to store_url with notice .(for this you need to define destroy action in carts 
  controller) -->
